In [1]:
!pip install pymysql
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pymysql
import re
import math
import datetime
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder, Normalizer
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sqlalchemy import create_engine

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.2 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
conn = pymysql.connect(host='34.64.224.44', user='root', password='A412GBVSDsawe%$we', db='smart_factory')
sql_state='SELECT * FROM `weather_day`'
df1=pd.read_sql_query(sql_state, conn)

In [ ]:
df1['Year'] = df1['SOLDDATE'].dt.year
df1['Month'] = df1['SOLDDATE'].dt.month

In [ ]:
df1

        SOLDDATE  TEMP   HUM  RAIN  SNOW REGION_U  Year  Month
0     2014-01-01   4.0  51.3   0.0   0.0       서울  2014      1
1     2014-01-02   1.5  35.4   0.0   0.0       서울  2014      1
2     2014-01-03   2.3  54.4   0.0   0.0       서울  2014      1
3     2014-01-04  -0.1  47.1   0.0   0.0       서울  2014      1
4     2014-01-05  -0.8  48.4   0.0   0.0       서울  2014      1
...          ...   ...   ...   ...   ...      ...   ...    ...
54443 2022-04-21  15.0  46.3   0.0   0.0      강원도  2022      4
54444 2022-04-22  16.6  61.0   0.0   0.0      강원도  2022      4
54445 2022-04-23  16.7  56.5   0.0   0.0      강원도  2022      4
54446 2022-04-24  18.1  53.3   0.0   0.0      강원도  2022      4
54447 2022-04-25  19.7  66.4   1.5   0.0      강원도  2022      4

[54448 rows x 8 columns]

In [ ]:
df1 = df1.groupby(['Year','Month','REGION_U']).mean()

In [ ]:
df1=df1.reset_index()

In [ ]:
df1

      Year  Month REGION_U       TEMP        HUM      RAIN      SNOW
0     2014      1      강원도  -1.851613  66.803226  0.496774  0.193548
1     2014      1    경기도남부  -0.645161  60.829032  0.319355  0.096774
2     2014      1    경기도북부  -2.087097  58.867742  0.341935  0.000000
3     2014      1     경상남도  -0.658065  66.293548  0.225806  0.000000
4     2014      1     경상북도  -2.561290  58.122581  0.022581  0.000000
...    ...    ...      ...        ...        ...       ...       ...
1595  2022      4       인천  12.388000  61.592000  0.152000  0.000000
1596  2022      4     전라남도  15.380000  57.276000  1.124000  0.000000
1597  2022      4     전라북도  14.352000  57.168000  1.796000  0.000000
1598  2022      4     충청남도  11.848000  69.300000  1.220000  0.000000
1599  2022      4     충청북도  14.964000  46.348000  1.056000  0.000000

[1600 rows x 7 columns]

In [ ]:
from sqlalchemy import create_engine

db_connection_str = 'mysql+pymysql://root:A412GBVSDsawe%$we@34.64.224.44:3306/smart_factory'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

# df_per_sql.to_sql(name = 'building_permission',con = db_connection, index = False)
df1.to_sql(name = 'weather_month',con = db_connection, index = False, if_exists = 'replace') # 테이블 삭제하고 새로 만들 때 사용
# df_per_sql.to_sql(name = 'building_permission',con = db_connection, index = False, if_exists = 'append') # 데이터를 추가할 때 사용

In [ ]:
from dateutil.relativedelta import relativedelta
now = datetime.datetime.now()
last_day = now - relativedelta(days=1)
last_day = last_day.strftime('%Y-%m-%d')

In [ ]:
last_day

'2022-04-25'

In [ ]:
def cat_location(x):
        if x == '서울': return 108
        elif x == '경기도북부': return 98
        elif x == '경기도남부': return 119
        elif x == '인천': return 112
        elif x == '부산광역시': return 159
        elif x == '대구광역시': return 143
        elif x == '울산광역시': return 152
        elif x == '경상북도': return 278
        elif x == '경상남도': return 263
        elif x == '전라북도': return 146
        elif x == '전라남도': return 156
        elif x == '대전광역시': return 133
        elif x == '세종시': return 133
        elif x == '충청북도': return 131
        elif x == '충청남도': return 129
        elif x == '강원도': return 114
        else: return 119 ## 해당 안될시 생판지역인 평택 기준 날씨로 변환

def loc_weather(start_date, end_date, location):
    import pandas as pd
    import requests
    import numpy as np

    start_date = start_date.replace('-','')
    end_date = end_date.replace('-','')

    location_code = cat_location(location)

    url = 'http://apis.data.go.kr/1360000/AsosDalyInfoService/getWthrDataList'

    #servicekey = ZKOx0KH7l+PcSZZNRvuI54pjFf5gbYeIa1ccvoUcbzlwPA7ZRd9AqYB+V6++N/urN+9OncLmDH9MvqvMu5SKbg==
    #servicekey2 = p6rQtYpFx5ZivDokXiWeZEPT1qg7CGrnWM9XP9rPcOy45BUhyI3RM9OoXCo3CWSAH31Va67TZGHaOOFWN/I7Cg==


    params ={'serviceKey' : 'dDUc9SVR/pZIxs5qbu7ABEG4/S5t0ZJBTLZdlveVsR4Hyc2ynwn17cF68xglOrHN/mNu/W4JmkPP3N/M8HF12g==', 
            'pageNo' : '1', 
            'numOfRows' : '999', 
            'dataType' : 'JSON', 
            'dataCd' : 'ASOS', 
            'dateCd' : 'DAY', 
            'startDt' : start_date,
            'endDt' : end_date, 
            'stnIds' : str(location_code) }


    response = requests.get(url, params=params).json()
    r_response = response.get("response")
    r_body = r_response.get("body")
    r_items = r_body.get("items")
    r_item = r_items.get("item")

    time = [] #일자
    tem = [] #온도
    hum = [] #습도
    rain = [] #강수량
    snow = [] #적설량

    for i in range(len(r_item)):
        time.append(r_item[i]['tm'])
        tem.append(r_item[i]['avgTa'])
        hum.append(r_item[i]['avgRhm'])
        rain.append(r_item[i]['sumRn'])
        snow.append(r_item[i]['sumDpthFhsc'])

    time = pd.Series(time)
    tem = pd.Series(tem)
    hum = pd.Series(hum)
    rain = pd.Series(rain)
    snow = pd.Series(snow)

    data = [ time, tem, hum, rain, snow ]

    df = pd.concat(data, axis=1)

    df.columns = ['SOLDDATE','TEMP','HUM','RAIN','SNOW']
    df.replace('', 0,inplace=True)

    df['REGION_U'] = location
    df['SOLDDATE'] = pd.to_datetime(df['SOLDDATE'])
    df['TEMP'] = round(df['TEMP'].astype('float32'),1)
    df['HUM'] = round(df['HUM'].astype('float32'),1)
    df['RAIN'] = round(df['RAIN'].astype('float32'),1)
    df['SNOW'] = round(df['SNOW'].astype('float32'),1)

    return df

In [ ]:
def make_weather_data(year):
    start_date = str(year) + '-01-01'
    # end_date = last_day
    end_date = str(year) + '-12-31'
    loc_li = ['서울','경기도북부','경기도남부','인천','부산광역시','대구광역시','울산광역시','경상북도','경상남도','전라북도','전라남도','대전광역시','세종시','충청북도','충청남도','강원도']
    
    weather_df_all = pd.DataFrame()
    for i in loc_li:
        weather_df = loc_weather(start_date,end_date,i)
        display(weather_df)
        weather_df_all = pd.concat((weather_df_all, weather_df), axis = 0)
    return weather_df_all
        
df = make_weather_data(2013)

      SOLDDATE  TEMP        HUM  RAIN  SNOW REGION_U
0   2013-01-01  -4.7  73.500000   3.1   5.2       서울
1   2013-01-02 -11.7  40.799999   0.0   0.0       서울
2   2013-01-03 -13.2  42.799999   0.0   0.0       서울
3   2013-01-04 -10.7  44.299999   0.0   0.0       서울
4   2013-01-05  -7.0  59.400002   0.0   0.0       서울
..         ...   ...        ...   ...   ...      ...
360 2013-12-27  -6.8  49.500000   0.0   0.0       서울
361 2013-12-28  -6.5  44.099998   0.0   0.0       서울
362 2013-12-29  -2.9  59.799999   0.1   0.1       서울
363 2013-12-30   2.2  55.400002   0.0   0.0       서울
364 2013-12-31   3.8  58.799999   0.0   0.0       서울

[365 rows x 6 columns]

JSONDecodeError: ignored

In [ ]:

db_connection_str = 'mysql+pymysql://root:A412GBVSDsawe%$we@34.64.224.44:3306/smart_factory'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

# df.to_sql(name = 'building_permission',con = db_connection, index = False)
#df.to_sql(name = 'weather_day',con = db_connection, index = False, if_exists = 'replace') # 테이블 삭제하고 새로 만들 때 사용
df.to_sql(name = 'weather_day',con = db_connection, index = False, if_exists = 'append') # 데이터를 추가할 때 사용

In [ ]:
df

      SOLDDATE       TEMP        HUM  RAIN  SNOW REGION_U
0   2022-01-01  -4.300000  46.299999   0.0   0.0       서울
1   2022-01-02  -1.300000  57.900002   0.3   0.5       서울
2   2022-01-03  -1.900000  58.299999   0.0   0.0       서울
3   2022-01-04  -2.500000  51.799999   0.0   0.0       서울
4   2022-01-05  -2.800000  47.599998   0.0   0.0       서울
..         ...        ...        ...   ...   ...      ...
110 2022-04-21  15.000000  46.299999   0.0   0.0      강원도
111 2022-04-22  16.600000  61.000000   0.0   0.0      강원도
112 2022-04-23  16.700001  56.500000   0.0   0.0      강원도
113 2022-04-24  18.100000  53.299999   0.0   0.0      강원도
114 2022-04-25  19.700001  66.400002   1.5   0.0      강원도

[1840 rows x 6 columns]

In [ ]:
db_connection_str = 'mysql+pymysql://root:A412GBVSDsawe%$we@34.64.224.44:3306/smart_factory'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

# df.to_sql(name = 'building_permission',con = db_connection, index = False)
#df.to_sql(name = 'weather_day',con = db_connection, index = False, if_exists = 'replace') # 테이블 삭제하고 새로 만들 때 사용
df.to_sql(name = 'weather_day',con = db_connection, index = False, if_exists = 'append') # 데이터를 추가할 때 사용